* {
    margin: 0;
}



body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;

}

.container {
    width: 50%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    margin-top: 10%;
    padding: 4%;
    color: hsl(30, 10%, 34%);
    line-height: 1.7em;
    font-family: outfit;
    font-size: 16px;
    margin-bottom: 10%;
    min-width: 35rem;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;



}

.space {
    margin-bottom: 4%;
}

@font-face {
    font-family: outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: semibold;
    src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: young-regular;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: bold;
    src: url(assets/fonts/outfit/static/Outfit-ExtraBold.ttf);
}




h1 {
    font-family: young-regular;
    font-size: 300%;
    color: black;
    line-height: 1.5em;
}


span {
    font-family: bold;

}


.time {
    width: 90%;
    height: 100%;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 3%;
}

.time h2 {
    font-family: semibold;
    font-size: 1.3em;
    color: hsl(332, 51%, 32%);
}

h3 {
    font-family: young-regular;
    font-size: 2em;
    color: hsl(14, 45%, 36%);
    font-weight: 400;


}

hr {
    color: hsl(30, 10%, 34%);
    opacity: 30%;
}

li::marker {
    color: hsl(14, 45%, 36%);
    font-family: bold;
}

.time li::marker {
    color: hsl(332, 51%, 32%);
}

ul,
ol {
    display: flex;
    flex-direction: column;
}

li {
    margin: 1%;
}

.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.table div {
    display: flex;
    margin: 1%;

}

.table div p {
    flex-basis: 50%;
    margin-left: 4%;

}

.num {
    font-family: bold;
    color: hsl(14, 45%, 36%);
}

@media only screen and (max-width: 480px){
.container{min-width:20rem ;}


}
    
  
  